.infoBox {
    position: fixed;
    top: 130px;
    right: 60px;
    background: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.output {
    position: fixed;
    top: 130px;
    right: 60px;
    background: white;
    padding: 10px 20px;
    text-align: left;
}
.output > div {
    position: relative;
}
.output >div .close {
    position: absolute;
    top: 3px;
    right: 0px;
    cursor: pointer;
}

